$primary: #e92569;
$secondary: #efefef;
$tertiary: #767676;
$quaternary: #0a0a0a;
$quinary: #ffffff;

$form-check-input-bg: $primary;
$list-group-border-color: none;
$pagination-active-bg: $primary;
$pagination-color: $primary;
$pagination-border-color: $primary;
$headings-color: $primary;
$carousel-indicator-opacity: 1;
$light: $secondary;
$accordion-button-bg: $quinary !important;
$accordion-bg: $quinary !important;
$accordion-border-color: none;
$accordion-border-radius: 10px;
$navbar-light-active-color: $primary !important;
$nav-tabs-border-radius: 10px;
